#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC           &kp Q  &kp L  &none  &none  &none      &none          &none  &none  &none  &none  &none  &bt BT_NXT
&kp TAB           &kp E  &kp I  &none  &none  &none      &none          &none  &none  &none  &none         &kp ENTER
&kp LEFT_SHIFT    &kp Z  &kp X  &none  &none  &none      &none          &none  &none  &none  &none  &none  &none
&kp LEFT_CONTROL  &none  &none  &none         &kp SPACE  &kp BACKSPACE         &none  &none  &none  &none  &none
            >;
        };

        layer_1 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none         &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none         &none  &none         &none  &none  &none  &none  &none
            >;
        };

        layer_2 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none         &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none         &none  &none         &none  &none  &none  &none  &none
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none         &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none         &none  &none         &none  &none  &none  &none  &none
            >;
        };
    };
};
